<%- include("../partials/header") %>
<div style="margin-left: 20px; margin-top: 5px;">
<h1 style="color: brown;">Game Rules</h1>
<li>Game will <strong>start at 4:00 p.m.</strong> sharp and will <strong>end at 5:00 p.m.</strong> sharp</li>
<li>Total number of questions will be 10 and score for each level will be 50 points</li>
<li>You will be provided with a question at every level</li>
<li>You need to answer it as soon as you can </li>
<li>
    If the answer given by you is correct then score will be added and you will be proceed to next level else 
    neither level nor score will increment
</li>
<li>Your score will update at leaderboard simultaneously </li>
<li>At the end , whoever will get the maximum score would be the <strong>WINNER</strong> of the game </li>
<p></p>
<p> <strong>NOTE:</strong> In case of more then one winner, next round will be shedule for them</p>
</div>
<%- include("../partials/footer") %>